RewriteEngine on

# Remove .html (or htm) from visible URL (permanent redirect)
RewriteCond %{REQUEST_URI} ^/(.+)\.html?$ [nocase]
RewriteRule ^ /%1 [L,R=301]

# Quietly point back to the HTML file (temporary/undefined redirect):
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [END]

# ErrorDocument
ErrorDocument 400 /Erorr/400.shtml
ErrorDocument 401 /Erorr/401.shtml
ErrorDocument 403 /Erorr/403.shtml
ErrorDocument 404 /Erorr/404.shtml
ErrorDocument 413 /Erorr/413.shtml
ErrorDocument 500 /Erorr/500.shtml